// Roboto Slab font (400, 500, 600 & 700)
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

// Karla font (200, 400, 500, 700)
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;500&display=swap');

/* Fonts */

$main-font: 'Roboto Slab', serif;
$paragraph-font: 'Karla', sans-serif;

/* Colors */

$color--primary: #AC3B61;
$color--secondary: #EF6E7E;
$color--auxiliar: #123C69;

$color--background-1: #EDC7B7;
$color--background-2: #EEE2DC;


/* Screen sizes (width) */

$width--sm: 640px;
$width--md: 768px;
$width--lg: 1024px;
$width--xl: 1280px;
$width--2xl: 1536px